@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: black;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "montserrat", sans-serif;
  font-weight: 500;

}

label {
  position: relative;
}


html {
    font-size: 18px;
}

.container {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.content {
    /* border: 1px solid black; */
    height: 80vh;
    display: flex;
    justify-content: center;
}

.content h1,
.content form {
    padding-top: 2rem;
}

.content h1 {
    text-align: center;
    justify-self: center;
}

button.button {
    border: 0;
    cursor: pointer;
    font-family: Karla;
}

/* form styles */
form {
    width: 100%;
}

h1 {
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 35px;
    margin: 0 auto;
    max-width: 200px;
    display: block;
}

.background {
    position: relative;
    overflow: hidden;
    background-color: red;
    height: 100vh;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #FFF;
}

.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}


/* responsive styles */
/* md */
@media screen and (max-width: 768px) {
    form {
        max-width: 80%;
    }
}

/* lg */
@media screen and (min-width: 769px) and (max-width: 1170px) {
    form {
        max-width: 75%;
    }
}

/* xl */
@media screen and (min-width: 1171px) {
    form {
        max-width: 55%;
    }
}



@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}